
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #ADF7B6;
    font-family: Candara, Futura, Calibri;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5E6472;
}
nav a:hover {
    background-color:  #87BFFF;
    color: #5E6472;
}
.book, .join {
    background-color: #87BFFF;
    color: #5E6472;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
}
.book:hover, .join:hover {
    background-color: #87BFFF;
}
#background {
    background-color: #87BFFF;
}
.msg {
    background-color: #5E6472;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
}
footer {
    background-color: #87BFFF;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title {
    color: #5E6472;
    font-family: 'Arial Black', 'Times New Roman', Cambria;
    margin-top: 10px;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #5E6472;
}
.msg h2 {
    color: #5E6472;
}
.msg p {
    color: #5E6472;
    padding-bottom: 15px;
}
footer h3 {
    color: #5E6472;
}
footer a {
    color: #5E6472;
    text-decoration: none;
}
footer a:hover {
    color: #5E6472;
    font-size: 1.2em;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}